* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Old Standard TT', serif;
    line-height: 1.6;
    /* background: #f4f4f4; */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

a {
    color: #9ba8ab;
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aacc 3px solid;
}

header h1 {
    text-align: left;
    /* margin: 0 auto; */
    align-items: left;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links a:hover {
    color: #77aacc;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.profile-picture {
    /* width: 100%; */
    max-width: 400px;
    height: 300px;
    border-radius: 50%;
}

main {
    margin: 0px 5px;
    padding: 20px 0;
    height: 100vh;
}

section {
    margin: 0px 5px;
    padding: 20px 0;
}

.datetime {
    background-color: #77aacc;
    border-radius: 15%;
}

.banner {
    border: 2px dotted #7a7a52;
    border-radius: 5%;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.banner1 {
    flex: 1;
    padding: 50px;
    padding-left: -200px;
    box-sizing: border-box;
    /* margin-left: -200px; */
    width: auto;
}

.title {
    text-align: center;
}
.tools{
    /* margin-top: 80px; */
}
.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    padding: 10px;
}

.experience {
    border: 2px solid #77aacc;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.experience span {
    font-style: italic;
    color: #7a7a52;
}

button {
    background-color: #7a7a52;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #77aacc;
}

h2 {
    background-color: #4a5c6a;
    font-weight: bolder;
}

.goals ul li {
    background: #77aacc;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: #77aacc 3px solid;
    /* margin-bottom: 0px; */
    bottom: 0;
}

.social-links {
    list-style-type: none;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #77aacc;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        font-size: smaller;
        background: #333;
        position: absolute;
        top: 70px;
        left: 0;
    }

    .nav-links li {
        margin: 5px ;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active + .nav-links {
        display: flex;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .skills {
        flex-direction: column;
    }

    .skills li {
        padding: 5px;
    }

    .experience {
        margin: 20px 0;
    }
    .tools{
        margin-top: 120px;
    }
}

@media (max-width: 480px) {
    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .goals ul li {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .skills {
        flex-direction: column;
    }

    .skills li {
        padding: 5px;
    }
    .tools{
        margin-top: 340px;
    }
    .title{
        font-size: medium;
    }
}